doctype html
html
    head
        title Display Records
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/styles.css')

    body
        include navigation.pug
