doctype html
html
    head
        title Sarah Abing
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/styles.css')

    body
        include navigation.pug
        div.container
            p= json
            p I'm only displaying the first 10 or so records so this page doesn't get incredibly long :)

