doctype html
html
    head
        title Sarah Abing
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')

    body
        include navigation.pug
        //a(href='/create') Create Communication