div.container
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a(href='/').navbar-brand Sarah Abing
        ul.navbar-nav
            li.nav-item
                a(href='/create_communication').nav-link POST
            li.nav-item
                a(href='/filtering_records').nav-link GET (chart/graph)
            li.nav-item
                a(href='#').nav-link PUT
            li.nav-item
                a(href='#').nav-link DELETE