div.container
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a(href='/').navbar-brand Sarah Abing
        ul.navbar-nav
            li.nav-item
                a(href='/create_communication').nav-link Create Records
            li.nav-item
                a(href='/display').nav-link Display Records
            li.nav-item
                a(href='/filtering').nav-link Filtering Records